.custom-header {
    background-color: lightblue;  /* Green background */
    color: black;               /* White text color */
    padding: 10px;              /* Padding around the header */
    font-weight: bold;          /* Make the text bold */
}

.custom-background{
    background-color: gray;  /* Green background */
    color: black;               /* White text color */
    padding: 10px;              /* Padding around the header */
    font-weight: bold;          /* Make the text bold */
}

/* Custom styles for o_content */
.o_content {
    background-color: gray; /* Light grey background */
    color: #333333;  /* Dark text color */
}


input::placeholder,
textarea::placeholder {
    color: black;  /* Dark gray for general placeholders */
}

.done-style {
    background-color: yellow;  /* Green background */
    color: black;               /* White text color */
    padding: 10px;              /* Padding around the header */
    font-weight: bold;          /* Make the text bold */
}

.o_list_renderer .o_list_table thead {
    background-color: lightblue;
}

.o_form_view .o_form_sheet {
    background-color: lightblue;
}

.o_notebook .nav {
    padding: 0 var(--notebook-padding-x, 0);
    background-color: lightblue;
}